@model IEnumerable<SayyohlikA.Models.RequestLog>

<h2>Request Logs</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Vaqti</th>
            <th>IP</th>
            <th>URL</th>
            <th>Device / Browser</th>
            <th>Language</th>
            <th>Referer</th>
            <th>Country</th>
            <th>City</th>
            <th>Coordinates</th>
            <th>ISP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Time</td>
                <td>@log.IP</td>
                <td>@log.Url</td>
                <td>@log.Device</td>
                <td>@log.Language</td>
                <td>@log.Referer</td>
                <td>@log.Country</td>
                <td>@log.City</td>
                <td>
                    @if (!string.IsNullOrEmpty(log.Coordinates))
                    {
                        <a href="https://www.google.com/maps/search/?api=1&query=@log.Coordinates" target="_blank">@log.Coordinates</a>
                    }
                </td>
                <td>@log.ISP</td>
            </tr>
        }
    </tbody>
</table>
