@model List<SayyohlikA.Models.Tarjimon>

@{
    ViewData["Title"] = "Tarjimonlar ro'yxati";
}

<h2>Tarjimonlar ro'yxati</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Yangi Tarjimon Qo'shish</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FISH</th>
            <th>Til</th>
            <th>Telefon</th>
            <th>Holati</th>
            <th>Amallar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarjimon in Model)
        {
            <tr>
                <td>@tarjimon.Id</td>
                <td>@tarjimon.FISH</td>
                <td>@tarjimon.Til</td>
                <td>@tarjimon.PhoneNumber</td>
                <td>@(tarjimon.IsAvailable ? "Mavjud" : "Mavjud emas")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tarjimon.Id" class="btn btn-warning btn-sm">Tahrirlash</a>
                    <a asp-action="Delete" asp-route-id="@tarjimon.Id" class="btn btn-danger btn-sm">O'chirish</a>
                </td>
            </tr>
        }
    </tbody>
</table>

